.team_header{
text-align: center;
margin: 5rem 0;
}
.team_header h3{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.team_header span{
    background: -webkit-linear-gradient(to right, #33001b, #ff0084);
    background: linear-gradient(to right, #33001b, #ff0084);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.team_header p{
    color: var(--colo-dark-2);
}














.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    z-index: 1;
}


.swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.swiper-slide:hover img {
    transform: scale(1.1);
}

.swiper-slide:hover::after {
    opacity: 1;
}

.swiper-slide::before {
    content: '+';
    position: absolute;
    font-size: 5rem;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.swiper-slide:hover::before {
    opacity: 1;
}

.swiper-slide:hover img,
.swiper-slide:hover::before {
    pointer-events: none;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}