@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-main: "Inter", sans-serif;
  --colo-primary: #821e57;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}

/* header nav part start */
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* header nav part end */


/* checkout-box part start */
.checkout-box-container {
  margin: 5rem 0;
  display: flex;
  gap: 2rem;
}

/* checkout form */
.checkout-form {
  width: 49%;
  padding: 2.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.checkout-form:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.checkout-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-form-header a,
.nav-checkout-cart a {
  background: linear-gradient(to right, #33001b, #ff0084);
  background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.checkout-form-header a:hover,
.nav-checkout-cart a:hover {
  color: var(--colo-dark-1);
}

.checkout-form-header a small {
  border-bottom: 1px solid #33001b;
  font-size: 0.9rem;
}

.checkout-form h2 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.checkout-form input,
.checkout-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.checkout-form input:focus,
.checkout-form select:focus {
  border: 2px solid;
  border-color: #821e57;
  outline: none;
  outline-offset: 2px;
}

.form-control input[type="checkbox"] {
  display: none;
}

.form-control {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  color: #555;
}

.form-control .checkmark {
  width: 13px;
  height: 13px;
  background-color: #ccc;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s;
}

.form-control input[type="checkbox"]:checked+.checkmark {
  background: #ff0084f3;
  background: linear-gradient(to right, #33001bf3, #ff0084f3);
  color: var(--colo-white-1);
}

.form-control input[type="checkbox"]:checked+.checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.shipping-method button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #821e57;
  border-radius: 4px;
  background-color: #33001b10;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.secure-note {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 20px;
}

.payment-disabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  color: #666;
}

.icon-placeholder {
  font-size: 5rem;
  margin-bottom: 10px;
  color: #999;
}

.pay-now-btn {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  color: #999;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  opacity: 0.7;
}

.checkout-form-footer {
  margin-top: 10rem;
}

.checkout-form-footer p {
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--colo-dark-2);
}

.checkout-form-footer a {
  background: linear-gradient(to right, #33001b, #ff0084);
  background-clip: text;
  color: transparent;
}

/* cart summary */
.order-summary {
  width: 49%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--colo-white-2);
}

.summary-item {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.24);
  padding: 1rem;
  border-radius: 1rem;
}

.summary-item {
  cursor: pointer;
  background-color: var(--colo-white-1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.summary-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.summary-item-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.summary-item-img {
  position: relative;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.summary-item-img img {
  width: 100%;
  height: 100%;
}

.summary-item-img p {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #ff0084f3;
  background: linear-gradient(to right, #33001bf3, #ff0084f3);
  color: var(--colo-white-1);
  height: 2rem;
  width: 2rem;
  text-align: center;
  font-weight: 600;
  padding-top: 2px;
  border-radius: 50%;
  font-size: small;
}

.item-price,
.item-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.item-color {
  font-size: 1rem;
  font-weight: 600;
  color: var(--colo-dark-2);
}

.summary-total {
  margin-top: 1.5rem;
  padding: 1rem;
}

.summary-total div {
  display: flex;
  justify-content: space-between;
}

.subtotal-item-summary,
.shipping-item-summary {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #555;
}

.total-item-summary {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #555;
}

.total-item-summary small {
  font-size: 1.2rem;
  color: #555555d7;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.order-summary {
  position: relative;
}

header h1 {
  font-size: 1.2rem;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  opacity: 0;
  visibility: hidden;
  padding: 10px 12px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #d3d1d1;
  color: var(--colo-dark-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  transition: 0.4s ease;
}

#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

#scrollToTopBtn:hover {
  background-color: #821e57;
  color: var(--colo-white-1);
}

/* responsive design  */
@media (max-width: 768px) {
  .checkout-box-container {
    flex-wrap: wrap;
  }

  .checkout-form,
  .order-summary {
    width: 100%;

  }

  header h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 424px) {

  .checkout-form,
  .order-summary {
    width: 100%;
  }

  .item-title,
  .item-price {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .item-color {
    font-size: 0.9rem;
    font-weight: 500;
  }

  header h1 {
    font-size: 1.2rem;
  }
}

/* end */
@media (max-width: 768px) {
  #scrollToTopBtn {
    bottom: 5rem;
    right: 2rem;
    padding: 6px 8px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1070px) {
  #scrollToTopBtn {
    bottom: 6rem;
    right: 3rem;
    padding: 8px 10px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  #scrollToTopBtn {
    bottom: 5rem;
    right: 2rem;
    padding: 6px 8px;
    font-size: 1.5rem;
  }
}